WCFCrud/Client_WCF_CRUD/Client_WCF_CRUD/Service References/CRUD/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWCFService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_CRUD" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_InsertCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="IWCFService_InsertCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_UpdateCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="IWCFService_UpdateCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeleteCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeleteCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_ReadCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="IWCFService_ReadCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="InsertCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/InsertCustomerDetails" message="tns:IWCFService_InsertCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/InsertCustomerDetailsResponse" message="tns:IWCFService_InsertCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/UpdateCustomerDetails" message="tns:IWCFService_UpdateCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/UpdateCustomerDetailsResponse" message="tns:IWCFService_UpdateCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/DeleteCustomerDetails" message="tns:IWCFService_DeleteCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/DeleteCustomerDetailsResponse" message="tns:IWCFService_DeleteCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/ReadCustomerDetails" message="tns:IWCFService_ReadCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/ReadCustomerDetailsResponse" message="tns:IWCFService_ReadCustomerDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFService" type="tns:IWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/IWCFService/InsertCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/IWCFService/UpdateCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/IWCFService/DeleteCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/IWCFService/ReadCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IWCFService" type="tns:IWCFService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWCFService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InsertCustomerDetails">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/InsertCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDetails">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/UpdateCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerDetails">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/DeleteCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCustomerDetails">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/ReadCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_IWCFService" binding="tns:BasicHttpBinding_IWCFService">
      <soap:address location="http://localhost:8082/WCFService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IWCFService" binding="tns:NetTcpBinding_IWCFService">
      <soap12:address location="net.tcp://localhost:8083/WCFService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8083/WCFService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CORP\merkrish</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>